<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye, <%= @user.firstname %></h1>
    <p>
      Thanks for spending time with us at Rotten Mangoes
      sad to see you go!<br>
    </p>
    <p>Peace out!</p>
  </body>
</html>
